*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "abstract/variables";
@import "abstract/mixin";
@import "page/header";
@import "page/hero-main";
@import "page/footer";

body{
    font-size: $text-size;
    font-family: $font-stack-barlow;
    color: $Very-dark-unsaturated-blue;
}
