*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "abstract/variables";
@import "abstract/mixin";
@import "page/header";
@import "page/hero-main";

body{
    font-family: 'Barlow', sans-serif;
    font-size: $text-size;
    color: $Very-dark-unsaturated-blue;
    // font-family: 'Fraunces', serif; 
}
