.transform{
    display: flex;
    flex-wrap: wrap;
    font-size: $text-size;
    &_info{
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 7.8em;
        gap: 1.5em;
        line-height: 1.5em;
        @include screen-size(phone-only){
            padding: 2em;
            text-align: center;
            font-size: $text-size;
        }
        h2{
            font-family: $font-stack-Fraunces;
            font-size: $text-size-h;
            font-weight: $font-weight-900;
            line-height: 1em;
            @include screen-size(phone-only){
                font-size: 1.5em;
            }
        }
        .first--learn{
            @include learn_more($Yellow);
        }
        .second--learn{
            @include learn_more($Soft-red);
        }
        a{
            color: $Very-dark-unsaturated-blue;
            text-decoration: none;
        }
    }
    &_img1{
        flex: 50%;
        img{
            width: 100%;
        }
        @include screen-size(phone-only){
            display: block;
        }
    }
    &_img{
        display: block;
        flex: 50%;
        img{
            width: 100%;
        }
        @include screen-size(phone-only){
            display: none;
        }
    }
    &_img2{
        display: block;
        flex: 50%;
        img{
            width: 100%;
        }
    }
    @include screen-size(phone-only){
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.middle{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: -4px;
    text-align: center;
    font-size: $text-size;
    &_graphics{
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 1.5em 0;
        background: url('/images/desktop/image-graphic-design.jpg') center/cover no-repeat;
        &_text{
            display: flex;
            flex-direction: column;
            gap:1em;
            width: 60%;
            line-height: 1.5em;
            h3{
                font-size: $text-size;
                font-family: $font-stack-Fraunces;
            }
            @include screen-size(phone-only){
                width: 80%;
            }
        }
    }
    &_photography{
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 1.5em 0;
        background: url('/images/desktop/image-photography.jpg') center/cover no-repeat;
    }
    @include screen-size(phone-only){
        flex-direction: column;
    }
}

.testimonials{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 8em 10em;
    font-size: $text-size;
    h3{
        color: $Grayish-blue;
        letter-spacing: 0.3em;
        margin: 0 0 3em 0;
        font-family: $font-stack-Fraunces;
    }
    &_card{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        line-height: 1.5em;
        &_box{
            flex: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;
            &_img{
                display: flex;
                width: 4em;
                border-radius: 100%;
                img{
                    border-radius: 100%;
                    width: 100%;
                }
            }
            &_name p:nth-child(1){
                font-family: $font-stack-Fraunces;
                font-weight: $font-weight-900;
                line-height: 2em;
            }
            &_name p:nth-child(2){
                color: $Grayish-blue;
            }
            @include screen-size(phone-only){
                flex: 100%;
                margin-bottom: 1em;
            }
        }
    }
    @include screen-size(phone-only){
        padding: 5em 2.5em;
    }
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    div {
        flex: 25%;
        @include screen-size(phone-only){
            flex: 50%;
        }
    }
    img{
        width: 100%;
    }
}